@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body,h1,h2,h3,h4,p{
  font-family: 'Nunito Sans', sans-serif;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
section{
  margin-bottom:100px ;
}
.align-c{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-icon{
  max-width: 70px;
}


/* ----------------- header */
nav{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.logo span{
font-weight: 800;
font-size: 2em;
padding: 10px 0px;
}
.logo{
  width: 200px;
  float: left;
}
.main-menu{
 max-width: 500px;
 float: right;
}
.main-menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main-menu ul li {
  float: left;
  padding: 10px 20px;
}

/* ----------------- home */

#main-home{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#main-home:before{
  content: '';
  width: 50%;
  height: 70vh;
  left: 0;
  top: 0;
  position: absolute;
  background: #70dce047;
  z-index: -1;
}
.mainbutton{
  margin-top: 100px;
}
.inner-main-txt{
  position: relative;
} 
.main-home .container{
  overflow: hidden;
}
.main-tit{
  font-size: 20em;
  margin: 0px;
  font-weight: 800;
}

.text-center{
  text-align: center;
}

button{
  background: #0CAAD0;
  padding: 10px 25px;
  color: white;
  font-size: 1.2em;
  border: 0px;
  margin-top: 1em;
}



.first-pix{
  width: 280px;
  height: 280px;
  background: #70E0B9;
  position: absolute;
  top: 280px;
  left: -240px;
}

.second-pix{
  width: 220px;
  height: 220px;
  background: #7074E0;
  position: absolute;
  top: -41px;
  right: -40px;
  z-index: -1;
}


.third-pix{
  width: 70px;
    height: 70px;
    background: #8A22A3;
    position: absolute;
    top: -56px;
    right: -76px;
    z-index: -1;
}

/* ----------------- Pre Pixel area  */

.Boxtextpixel p{
  font-size: 1.5em;
}
.Boxtextpixel .row{
  margin: 1em 0em;
}


.subTit{
  font-weight: 800;
  font-size: 6em;
  margin-bottom: 0.8em;
}

.ExaplePix{
  width: 90%;
  aspect-ratio: 1;
  background-color: #0CAAD0;
}




/* ----------------- Pixel area */


.pixel-content{
  height: 70vh;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  background: #eee;
  justify-content: space-between;
 
}

.pixel{
  border: 2px dotted grey;
  opacity: 50%;
  background: #70E0B9;
  width: 100px;
  margin: 15px;
  height: 100px;

}

.pixel:nth-child(2n) {
  margin-top: -3em;
}

/* ----------------- Responsive */
@media screen and (max-width: 992px) {
  .main-tit{
    font-size: 8em;
  }
}
